* {
  box-sizing: border-box;
}
.invoice-main-container {
  background-color: white;
  padding: 2em 4em;
  border-top: 4px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.invoice-title-input {
  width: 80% !important;
  font-size: 2em !important;
}
.invoice-logo-image{
  width: 20% !important;
}
.invoice-from-billTo-main-container {
  width: 48%;
}
.invoice-sub-containers {
  margin: 1em 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.invoice-width-80 {
  width: 80% !important;
}
.invoice-error-text {
  font-size: 0.8rem;
}

.invoice-date-picker {
  width: 100%;
  height: 120%;
  border-radius: 0.3em !important;
}

.invoice-items-table-options {
  padding: 0.2em 0;
  font-size: 0.8em;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


.invoice-line-style-none {
  list-style: none;
}

.invoice-item-close-button {
  margin-right: 0.6em;
  border-width: 1px;
  border-radius: 0.3em;
  padding: 0.3em;

}

.invoice-width-40{
  width: 40%;
}

.invoice-dashed-line {
  border-bottom: 1px dashed grey;
}

.invoice-width-10{
  width: 10% ;
}

.invoice-padding-13{ 
  padding-left: 13%;
}
.invoice-padding-36{ 
  padding-left: 36%;
}
.invoice-padding-11-half{ 
  padding-left: 11.5%;
}
.invoice-padding-10{ 
  padding-left: 10%;
}
.invoice-padding-2{ 
  padding-left: 2% ;
}

.invoice-add-item-button {
  border-radius: 0.25em;
  border: 0 solid #e5e7eb;
  background-image: linear-gradient(to right, #1f2937, #4b5563);
}
.invoice-add-item-button:hover {
  opacity: 0.8;
}
.invoice-add-item-icon {
  color: white;
  height: 2em;
  width: 1.8em;
}
.main { 
  padding: 4em 10em;
}


.x5x5 {
  border: 1px solid rgba(156, 163, 175);
  border-radius: 0.5em;
  padding: 1.5em;
}

.invoice-items-main-container {
  border-bottom: 1px dashed grey;
}

.invoice-notes-input {
  height: 8em;
}

.invoice-dates-main-container {
  width: 48% !important;
}

.invoice-generate-invoice-button{
  height: 2.4em !important;
}
.invoice-final-invoice-main-container{
  padding: 1.5em 2em;
  background-color: #ebecf0;
  box-shadow: 0 1px 0 #091e4240;
}
.invoice-width-40{
  width: 40%;
}

